*{
    margin: 0;
    padding: 0;
    background-color: lightblue;text-align: center;
}

h1{
    background-color: brown;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 50px;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid transparent;
}

.choice:hover{
    border: 5px solid black;
    cursor: pointer;
}

.choice:active{
    opacity: 0.7;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
   display: flex;
   justify-content: center;
   margin-top: 5rem;
   gap: 2rem;
   font-size: 25px;
}

#user, #comp{
    font-size: 50px;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    font-size: 2rem;
    background-color: blue;
    color: white;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

